@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto:wght@500&display=swap');

.ItemDetail{
    grid-area: ItemDetail;
    border: 0.20em rgb(219, 219, 219) solid;
    border-radius: 1em;
}

.ImgDetalles{
    grid-area: ImgDetalles;
    align-items: center;
}

.ImgDetallesImg{

    width: 80%;
    object-fit:scale-down;
    height: 20em;

    @media (min-width: 900px) {
        height: 19em;
        width: 100%;
        object-fit:scale-down;
    }    

}

.IMG1{
    grid-area: IMG1;
}

.IMG2{
    grid-area: IMG2;
}

.ImgDetalles{
    display: grid;
    gap: 2em;
    grid-template-areas: 
    "IMG1"
    "IMG2";

    @media (min-width: 900px) {
        grid-template-areas: 
        "IMG1 IMG2";
    }  

}

.DetaMarca, .DetaModelo, .Description, .Detalles, .Carrito, p{
    font-size: 1em;  
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 0 !important;
}

.DetaMarca{
    grid-area: DetaMarca;
}

.DetaModelo{
    grid-area: DetaModelo;
}

.Description{

    grid-area: Description;
    
    @media (min-width: 900px) {
        padding: 0em;
    }

}

.Detalles{
    grid-area: Detalles;
}

.Carrito{
    grid-area: Carrito;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemDetail{

    display: grid;
    grid-template-areas: 
    "ImgDetalles"
    "DetaMarca"
    "DetaModelo"
    "Description"
    "Detalles"
    "Carrito";
    gap: 1.5em;
    padding: 1em;

    @media (min-width: 900px) {
        grid-template-areas: 
        "ImgDetalles ImgDetalles  DetaMarca" 
        "ImgDetalles ImgDetalles  DetaModelo"
        "ImgDetalles ImgDetalles  Detalles"
        "Description  Description Carrito";
    }

}

.ItemDetail{

    padding-top: 1em;

    @media (min-width: 900px) {
        padding: 1em;
    }
}

.DetaMarca, .DetaModelo{

    font-family: 'Playfair';    
    font-size: 3em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 900px) {
        font-size:4em;
    }

}

.Detalles{

    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 1em;
    }

}

.FinCompraBTN{
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.10em;
    border: 0.15em black solid;
    border-radius: 0.50em; 
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase; 
    -webkit-box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
    -moz-box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
    box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
}

.FinCompraBTN:hover, .Count1:hover, .Count2:hover{
    color: rgb(0, 0, 0);
    background: #f1f1f1;
}