.Botones {
    font-family: 'Lato';
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 0.50em;
    display: flex;
    justify-content: center;
    border: none;
    text-transform: uppercase;
}

.Botones:hover{
    color:#004182;
}

.Subrayado {
    background-image: linear-gradient(transparent 0%, transparent 94%, #000000 94%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
}

.Subrayado:hover {
    background-size: 100% 100%;
    background-position-x: left;
}
.Subrayado:hover {
    background-size: 100% 100%;
    background-position-x: left;
}