.CarritoIcon{
    
    color: #ffffff; 
    width: 2em; 
    height: 3em; 
    margin-top: 6px;

    @media (min-width: 900px) {
        margin-top: 0px !important;
    }

}

.CarritoIcon:hover{
    transform: scale(1.1);
}

.svg-inline--fa {
    vertical-align: none;
}

.Cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.UndCarrito{
    
    margin-top: 8px;
    color: white;
    margin-bottom: 0rem;

    @media (min-width: 900px) {
        margin-top: -5px;
    }

}