@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lobster&family=Montserrat&display=swap');

.Bienvenidos{
    font-family: 'Montserrat';
    padding: 2em;
    padding-bottom: 0em;
}
.ILContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}