.Card{
    grid-area: Card;
}

.ImgCards{
    grid-area: ImgCards;
}

.Modelo{
    grid-area: Modelo;
}
.Marca{
    grid-area: Marca;
}

.Precio{
    grid-area: Precio;
}

.InfoCarrito{
    grid-area: InfoCarrito;
}

.Card{
    display: grid;
    grid-template-areas: 
    "ImgCards ImgCards"
    "Modelo   Modelo"
    "Marca    Marca"
    "Precio   InfoCarrito"
    ;
    gap: 2em;
    width: 18em;
    margin: 1.5em;
    border-radius: 1em; 
    padding: 2em;
    background-color: rgba(219, 219, 219, 0.5);
}   

.Card:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}

.ImgCards{
    height: 15em;
    width: 90%;
    object-fit:scale-down;
    margin-left: 5%;
    margin-right: 5%;
}

.MarcModels{
    font-family: 'Playfair';
    font-size: 2em;
    line-height: 0.50em;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Precio{
    font-family: 'Roboto';
    font-size: 1.20em;    
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color:rgb(0, 0, 0);
    border-radius: 0.50em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
}

.Info{    
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    padding: 0.60em;
    display: flex;
    justify-content: center;
    border-radius: 0.50em; 
    text-transform: uppercase; 
    -webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
}

.Info:hover{
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.InfoCarrito{
    justify-content: center;
    align-items: center;
}

h1, h2{
    margin-bottom: 0px !important;
}