@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lobster&family=Montserrat&display=swap');

.GridNavbar{
    grid-area: GridNavbar;
}

.GridOffCanvas{
    grid-area: GridOffCanvas;
}

.GridLogo{
    grid-area: GridLogo;
}


.GridCarrito{
    grid-area: GridCarrito;
}

.GridNavbar{

    display: grid;
    grid-template-areas: 
    "GridOffCanvas GridLogo GridCarrito";
    padding-left: 0.8em;
    padding-right: 0.7em;

    @media (min-width: 900px) {
        grid-template-areas:
        "GridOffCanvas GridLogo GridCarrito";
        justify-content: space-around;
        align-items: center;
    }

}

.Navbar {
    justify-content:space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position:sticky;
	top:0;
    z-index: 10;
}

.Logo {
    font-family: "Lobster";
    font-size: 35px;
    font-weight: 400;
    color: white !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 3px;
    margin-bottom: 5px;
    text-decoration: none; 
}